=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class CitiesServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Filter cities
    # Filter cities by country, postal code and city name
    # @param authorization Bearer token obtained from SSO
    # @param country_code Country code. Example : \&quot;ES\&quot;
    # @param postal_code Postal code. Example : \&quot;47001\&quot;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :city_name City name. Example : \&quot;Valladolid\&quot;
    # @return [CitiesResponse]
    def pic_v1_cities_get(authorization, country_code, postal_code, opts = {})
      data, _status_code, _headers = pic_v1_cities_get_with_http_info(authorization, country_code, postal_code, opts)
      data
    end

    # Filter cities
    # Filter cities by country, postal code and city name
    # @param authorization Bearer token obtained from SSO
    # @param country_code Country code. Example : \&quot;ES\&quot;
    # @param postal_code Postal code. Example : \&quot;47001\&quot;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :city_name City name. Example : \&quot;Valladolid\&quot;
    # @return [Array<(CitiesResponse, Fixnum, Hash)>] CitiesResponse data, response status code and response headers
    def pic_v1_cities_get_with_http_info(authorization, country_code, postal_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CitiesServicesApi.pic_v1_cities_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CitiesServicesApi.pic_v1_cities_get"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling CitiesServicesApi.pic_v1_cities_get"
      end
      # verify the required parameter 'postal_code' is set
      if @api_client.config.client_side_validation && postal_code.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code' when calling CitiesServicesApi.pic_v1_cities_get"
      end
      # resource path
      local_var_path = '/pic/v1/cities'

      # query parameters
      query_params = {}
      query_params[:'countryCode'] = country_code
      query_params[:'postalCode'] = postal_code
      query_params[:'cityName'] = opts[:'city_name'] if !opts[:'city_name'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8', 'text/plain;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CitiesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CitiesServicesApi#pic_v1_cities_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
