=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class DeliveryManifestServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Manifest generation
    # Manifest generation
    # @param authorization Bearer token obtained from SSO
    # @param nif NIF. Example: B03260684
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ccc Cost Center. Example: 20855
    # @option opts [String] :franchise Business Unit code: Example: 80
    # @option opts [String] :date_from Start date to search shipments: Example: 2020-05-07T15:15:30Z
    # @option opts [String] :date_to End date to search shipments: Example: 2020-05-07T15:15:30Z
    # @return [ManifestResponseDto]
    def pic_v1_shipments_delivery_manifest_get(authorization, nif, opts = {})
      data, _status_code, _headers = pic_v1_shipments_delivery_manifest_get_with_http_info(authorization, nif, opts)
      data
    end

    # Manifest generation
    # Manifest generation
    # @param authorization Bearer token obtained from SSO
    # @param nif NIF. Example: B03260684
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ccc Cost Center. Example: 20855
    # @option opts [String] :franchise Business Unit code: Example: 80
    # @option opts [String] :date_from Start date to search shipments: Example: 2020-05-07T15:15:30Z
    # @option opts [String] :date_to End date to search shipments: Example: 2020-05-07T15:15:30Z
    # @return [Array<(ManifestResponseDto, Fixnum, Hash)>] ManifestResponseDto data, response status code and response headers
    def pic_v1_shipments_delivery_manifest_get_with_http_info(authorization, nif, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryManifestServicesApi.pic_v1_shipments_delivery_manifest_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DeliveryManifestServicesApi.pic_v1_shipments_delivery_manifest_get"
      end
      # verify the required parameter 'nif' is set
      if @api_client.config.client_side_validation && nif.nil?
        fail ArgumentError, "Missing the required parameter 'nif' when calling DeliveryManifestServicesApi.pic_v1_shipments_delivery_manifest_get"
      end
      # resource path
      local_var_path = '/pic/v1/shipments/delivery-manifest'

      # query parameters
      query_params = {}
      query_params[:'nif'] = nif
      query_params[:'ccc'] = opts[:'ccc'] if !opts[:'ccc'].nil?
      query_params[:'franchise'] = opts[:'franchise'] if !opts[:'franchise'].nil?
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ManifestResponseDto')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryManifestServicesApi#pic_v1_shipments_delivery_manifest_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
