=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class LiveTrackingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Live tracking from request
    # Get live tracking
    # @param authorization Bearer token obtained from SSO
    # @param id_number id number. Example: A480001
    # @param ref Reference. Example: REF0001234
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_number Account Number. Example: 123456
    # @option opts [String] :business_unit Business Unit. Example: 123456
    # @option opts [String] :ref_type Reference type. Example: REFERENCE
    # @option opts [BOOLEAN] :sandbox Enables sandbox. Example: false (default to false)
    # @return [LiveTrackingResponse]
    def pic_v1_livetracking_get(authorization, id_number, ref, opts = {})
      data, _status_code, _headers = pic_v1_livetracking_get_with_http_info(authorization, id_number, ref, opts)
      data
    end

    # Get Live tracking from request
    # Get live tracking
    # @param authorization Bearer token obtained from SSO
    # @param id_number id number. Example: A480001
    # @param ref Reference. Example: REF0001234
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_number Account Number. Example: 123456
    # @option opts [String] :business_unit Business Unit. Example: 123456
    # @option opts [String] :ref_type Reference type. Example: REFERENCE
    # @option opts [BOOLEAN] :sandbox Enables sandbox. Example: false
    # @return [Array<(LiveTrackingResponse, Fixnum, Hash)>] LiveTrackingResponse data, response status code and response headers
    def pic_v1_livetracking_get_with_http_info(authorization, id_number, ref, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveTrackingApi.pic_v1_livetracking_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling LiveTrackingApi.pic_v1_livetracking_get"
      end
      # verify the required parameter 'id_number' is set
      if @api_client.config.client_side_validation && id_number.nil?
        fail ArgumentError, "Missing the required parameter 'id_number' when calling LiveTrackingApi.pic_v1_livetracking_get"
      end
      # verify the required parameter 'ref' is set
      if @api_client.config.client_side_validation && ref.nil?
        fail ArgumentError, "Missing the required parameter 'ref' when calling LiveTrackingApi.pic_v1_livetracking_get"
      end
      if @api_client.config.client_side_validation && opts[:'ref_type'] && !['REFERENCE', 'ECB', 'PARCEL_NUMBER', 'SECOND_REFERENCE', 'PACK_REFERENCE'].include?(opts[:'ref_type'])
        fail ArgumentError, 'invalid value for "ref_type", must be one of REFERENCE, ECB, PARCEL_NUMBER, SECOND_REFERENCE, PACK_REFERENCE'
      end
      # resource path
      local_var_path = '/pic/v1/livetracking'

      # query parameters
      query_params = {}
      query_params[:'idNumber'] = id_number
      query_params[:'ref'] = ref
      query_params[:'accountNumber'] = opts[:'account_number'] if !opts[:'account_number'].nil?
      query_params[:'businessUnit'] = opts[:'business_unit'] if !opts[:'business_unit'].nil?
      query_params[:'refType'] = opts[:'ref_type'] if !opts[:'ref_type'].nil?
      query_params[:'sandbox'] = opts[:'sandbox'] if !opts[:'sandbox'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LiveTrackingResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveTrackingApi#pic_v1_livetracking_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
