=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class PickupCentresServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Filter centres
    # Filter centres by country, postal code and city name
    # @param authorization Bearer token obtained from SSO
    # @param country_code Country code. Example: \&quot;ES\&quot;
    # @param postal_code Postal code: Example. \&quot;47270\&quot;
    # @param city_name City name: Example. \&quot;Cigales\&quot;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :centre_type Centre type: Example. \&quot;U\&quot;
    # @option opts [String] :exclude_code_sector Sector code excluded. Example: \&quot;400\&quot;
    # @return [CentresResponse]
    def pic_v1_pickups_get(authorization, country_code, postal_code, city_name, opts = {})
      data, _status_code, _headers = pic_v1_pickups_get_with_http_info(authorization, country_code, postal_code, city_name, opts)
      data
    end

    # Filter centres
    # Filter centres by country, postal code and city name
    # @param authorization Bearer token obtained from SSO
    # @param country_code Country code. Example: \&quot;ES\&quot;
    # @param postal_code Postal code: Example. \&quot;47270\&quot;
    # @param city_name City name: Example. \&quot;Cigales\&quot;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :centre_type Centre type: Example. \&quot;U\&quot;
    # @option opts [String] :exclude_code_sector Sector code excluded. Example: \&quot;400\&quot;
    # @return [Array<(CentresResponse, Fixnum, Hash)>] CentresResponse data, response status code and response headers
    def pic_v1_pickups_get_with_http_info(authorization, country_code, postal_code, city_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PickupCentresServicesApi.pic_v1_pickups_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling PickupCentresServicesApi.pic_v1_pickups_get"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling PickupCentresServicesApi.pic_v1_pickups_get"
      end
      # verify the required parameter 'postal_code' is set
      if @api_client.config.client_side_validation && postal_code.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code' when calling PickupCentresServicesApi.pic_v1_pickups_get"
      end
      # verify the required parameter 'city_name' is set
      if @api_client.config.client_side_validation && city_name.nil?
        fail ArgumentError, "Missing the required parameter 'city_name' when calling PickupCentresServicesApi.pic_v1_pickups_get"
      end
      # resource path
      local_var_path = '/pic/v1/pickups'

      # query parameters
      query_params = {}
      query_params[:'countryCode'] = country_code
      query_params[:'postalCode'] = postal_code
      query_params[:'cityName'] = city_name
      query_params[:'centreType'] = opts[:'centre_type'] if !opts[:'centre_type'].nil?
      query_params[:'excludeCodeSector'] = opts[:'exclude_code_sector'] if !opts[:'exclude_code_sector'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8', 'text/plain;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CentresResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PickupCentresServicesApi#pic_v1_pickups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
