=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class ShipmentsServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add parcel to shipment
    # Add parcel to shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [AddPack] :input Parcel to add. In case shipmentCode is present it will ignore ccc, fracnhise, date and reference.
    # @return [ShipmentAddPackResponse]
    def pic_v1_shipments_addpack_put(authorization, opts = {})
      data, _status_code, _headers = pic_v1_shipments_addpack_put_with_http_info(authorization, opts)
      data
    end

    # Add parcel to shipment
    # Add parcel to shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [AddPack] :input Parcel to add. In case shipmentCode is present it will ignore ccc, fracnhise, date and reference.
    # @return [Array<(ShipmentAddPackResponse, Fixnum, Hash)>] ShipmentAddPackResponse data, response status code and response headers
    def pic_v1_shipments_addpack_put_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsServicesApi.pic_v1_shipments_addpack_put ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ShipmentsServicesApi.pic_v1_shipments_addpack_put"
      end
      # resource path
      local_var_path = '/pic/v1/shipments/addpack'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'input'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShipmentAddPackResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsServicesApi#pic_v1_shipments_addpack_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel existing shipment
    # Cancel existing shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [Codes] :codes Collection codes to cancel
    # @return [ShipmentCancelResponse]
    def pic_v1_shipments_cancel_post(authorization, opts = {})
      data, _status_code, _headers = pic_v1_shipments_cancel_post_with_http_info(authorization, opts)
      data
    end

    # Cancel existing shipment
    # Cancel existing shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [Codes] :codes Collection codes to cancel
    # @return [Array<(ShipmentCancelResponse, Fixnum, Hash)>] ShipmentCancelResponse data, response status code and response headers
    def pic_v1_shipments_cancel_post_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsServicesApi.pic_v1_shipments_cancel_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ShipmentsServicesApi.pic_v1_shipments_cancel_post"
      end
      # resource path
      local_var_path = '/pic/v1/shipments/cancel'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'codes'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShipmentCancelResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsServicesApi#pic_v1_shipments_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete parcel from shipment
    # Delete parcel from shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [DeletePack] :input Parcel to delete. In case shipmentCode is present it will ignore ccc, fracnhise, date and reference.
    # @return [ShipmentAddPackResponse]
    def pic_v1_shipments_deletepack_put(authorization, opts = {})
      data, _status_code, _headers = pic_v1_shipments_deletepack_put_with_http_info(authorization, opts)
      data
    end

    # Delete parcel from shipment
    # Delete parcel from shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [DeletePack] :input Parcel to delete. In case shipmentCode is present it will ignore ccc, fracnhise, date and reference.
    # @return [Array<(ShipmentAddPackResponse, Fixnum, Hash)>] ShipmentAddPackResponse data, response status code and response headers
    def pic_v1_shipments_deletepack_put_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsServicesApi.pic_v1_shipments_deletepack_put ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ShipmentsServicesApi.pic_v1_shipments_deletepack_put"
      end
      # resource path
      local_var_path = '/pic/v1/shipments/deletepack'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'input'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShipmentAddPackResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsServicesApi#pic_v1_shipments_deletepack_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new shipment
    # Create a new shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [ShipmentRequestBody] :input The pickup to create
    # @return [ShipmentResponse]
    def pic_v1_shipments_post(authorization, opts = {})
      data, _status_code, _headers = pic_v1_shipments_post_with_http_info(authorization, opts)
      data
    end

    # Create a new shipment
    # Create a new shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [ShipmentRequestBody] :input The pickup to create
    # @return [Array<(ShipmentResponse, Fixnum, Hash)>] ShipmentResponse data, response status code and response headers
    def pic_v1_shipments_post_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsServicesApi.pic_v1_shipments_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ShipmentsServicesApi.pic_v1_shipments_post"
      end
      # resource path
      local_var_path = '/pic/v1/shipments'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'input'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShipmentResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsServicesApi#pic_v1_shipments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update shipment
    # Update shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [EditRequest] :input New data for the expedition. ShipmentCode or shipmentFilter required but only one (XOR operator).
    # @return [EditResponse]
    def pic_v1_shipments_update_put(authorization, opts = {})
      data, _status_code, _headers = pic_v1_shipments_update_put_with_http_info(authorization, opts)
      data
    end

    # Update shipment
    # Update shipment
    # @param authorization Bearer token obtained from SSO
    # @param [Hash] opts the optional parameters
    # @option opts [EditRequest] :input New data for the expedition. ShipmentCode or shipmentFilter required but only one (XOR operator).
    # @return [Array<(EditResponse, Fixnum, Hash)>] EditResponse data, response status code and response headers
    def pic_v1_shipments_update_put_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsServicesApi.pic_v1_shipments_update_put ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ShipmentsServicesApi.pic_v1_shipments_update_put"
      end
      # resource path
      local_var_path = '/pic/v1/shipments/update'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'input'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EditResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsServicesApi#pic_v1_shipments_update_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
