=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class ShipMethodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get product and service pair
    # Get product and service pair
    # @param authorization Bearer token obtained from SSO
    # @param origin_business_unit Origin business unit
    # @param destination_business_unit Destination business unit
    # @param city_code City code
    # @param [Hash] opts the optional parameters
    # @return [ServiceProductResponse]
    def pic_v1_ship_methods_get(authorization, origin_business_unit, destination_business_unit, city_code, opts = {})
      data, _status_code, _headers = pic_v1_ship_methods_get_with_http_info(authorization, origin_business_unit, destination_business_unit, city_code, opts)
      data
    end

    # Get product and service pair
    # Get product and service pair
    # @param authorization Bearer token obtained from SSO
    # @param origin_business_unit Origin business unit
    # @param destination_business_unit Destination business unit
    # @param city_code City code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceProductResponse, Fixnum, Hash)>] ServiceProductResponse data, response status code and response headers
    def pic_v1_ship_methods_get_with_http_info(authorization, origin_business_unit, destination_business_unit, city_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipMethodsApi.pic_v1_ship_methods_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ShipMethodsApi.pic_v1_ship_methods_get"
      end
      # verify the required parameter 'origin_business_unit' is set
      if @api_client.config.client_side_validation && origin_business_unit.nil?
        fail ArgumentError, "Missing the required parameter 'origin_business_unit' when calling ShipMethodsApi.pic_v1_ship_methods_get"
      end
      # verify the required parameter 'destination_business_unit' is set
      if @api_client.config.client_side_validation && destination_business_unit.nil?
        fail ArgumentError, "Missing the required parameter 'destination_business_unit' when calling ShipMethodsApi.pic_v1_ship_methods_get"
      end
      # verify the required parameter 'city_code' is set
      if @api_client.config.client_side_validation && city_code.nil?
        fail ArgumentError, "Missing the required parameter 'city_code' when calling ShipMethodsApi.pic_v1_ship_methods_get"
      end
      # resource path
      local_var_path = '/pic/v1/ship-methods'

      # query parameters
      query_params = {}
      query_params[:'originBusinessUnit'] = origin_business_unit
      query_params[:'destinationBusinessUnit'] = destination_business_unit
      query_params[:'cityCode'] = city_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceProductResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipMethodsApi#pic_v1_ship_methods_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
