=begin
#SEUR Public API

#<b>INFORMATION ABOUT THE API</b>  <b>AUTH</b>  All requests must be accompanied by an authentication header with a 'Bearer ' obtained through the SSO token URL:  https://servicios.apipre.seur.io/pic_token  <i>Simple cURL Example</i>  curl -X POST --data-urlencode \"grant_type=client_credentials\" --data-urlencode \"client_id=<>\" --data-urlencode \"client_secret=<>\" https://servicios.apipre.seur.io/pic_token

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.39

=end

require 'uri'

module SwaggerClient
  class WorkingDaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the next available working day
    # Get next working day
    # @param authorization Bearer token obtained from SSO
    # @param country_code Country Code. Example: ES
    # @param postal_code Postal Code. Example: 123456
    # @param date Date to search from. Example: 2024-01-01
    # @param [Hash] opts the optional parameters
    # @return [NextWorkingDayResponse]
    def pic_v1_next_working_day_get(authorization, country_code, postal_code, date, opts = {})
      data, _status_code, _headers = pic_v1_next_working_day_get_with_http_info(authorization, country_code, postal_code, date, opts)
      data
    end

    # Get the next available working day
    # Get next working day
    # @param authorization Bearer token obtained from SSO
    # @param country_code Country Code. Example: ES
    # @param postal_code Postal Code. Example: 123456
    # @param date Date to search from. Example: 2024-01-01
    # @param [Hash] opts the optional parameters
    # @return [Array<(NextWorkingDayResponse, Fixnum, Hash)>] NextWorkingDayResponse data, response status code and response headers
    def pic_v1_next_working_day_get_with_http_info(authorization, country_code, postal_code, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingDaysApi.pic_v1_next_working_day_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling WorkingDaysApi.pic_v1_next_working_day_get"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling WorkingDaysApi.pic_v1_next_working_day_get"
      end
      # verify the required parameter 'postal_code' is set
      if @api_client.config.client_side_validation && postal_code.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code' when calling WorkingDaysApi.pic_v1_next_working_day_get"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling WorkingDaysApi.pic_v1_next_working_day_get"
      end
      # resource path
      local_var_path = '/pic/v1/next-working-day'

      # query parameters
      query_params = {}
      query_params[:'countryCode'] = country_code
      query_params[:'postalCode'] = postal_code
      query_params[:'date'] = date

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NextWorkingDayResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingDaysApi#pic_v1_next_working_day_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
